body, html {
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
    user-select: none;
    cursor:url(../Images/icons8-cursor-32.png) 10 10,auto;
}
section{
    background-color: black;
    padding: 40px 0;
    min-height: fit-content;
    overflow: hidden;
}
/* home---------------------------------------------------- */
.home{
    height: 100vh;
    position: relative;
}

.bgimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}
.layer{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100% ;
    z-index: 99999 ;
    background-color: rgba(0, 0, 0,0.7) ;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 40px;
}
.layer *{
    color: white;
}
.layer span{
    color: #ffff76;
}
.layer p{
    max-width: 500px ;
}

.home a{
    margin: 0 20px 0 0 ;
    text-decoration: none;
    width: fit-content;
    padding: 8px 20px ;

    background-color: #ffff76;
    color: black !important;
    border-radius: 20px;
}
    .loading{
        position: fixed;
        z-index: 9999999999999999999999999999999999999999;
        inset: 0;
        width: 100%;
        height: 100vh;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: black;


    }
    .loading i{
        font-size: 60px;
        color: white;
    }
.navbar{
background-color: transparent;
z-index: 5555555555555;
transition: all 0.6s;
}
.navbar *{
    color: white;
}
.navbar-toggler:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none;
}
.navbar-brand img ,.navbar-toggler img{
    width: 30px;
    vertical-align: middle;
}
@media (max-width:767px) {
  ul.align-items-center{
    align-items:unset !important;
  }
}

/* --------------------------end home */


/* ----------------------------------------------skills */
#Skills{
    min-height: 100vh;
}
#Skills h2{
    /* --tw-text-opacity: 1;
    color: rgb(203 172 249 / var(--tw-text-opacity)); */
    color: #ffff76;
    font-weight: bolder;
    padding: 40px 0 ;
}
#Skills P{
    margin: 10PX 0;
    user-select: none;

}
/* --------------------------------------------------end skills */


/* --------------------------Projects */

.ProjectTypes .item {
    color: white;
    margin: auto;
    cursor: url(../Images/icons8-hand-cursor-bubbles-32.png) 10 10 ,auto;
    user-select: none;
    width: fit-content;

}

.active{
    border-bottom: 2px solid white;

}
.projectimg{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top ;
    transition: ease-in-out 8s;
    position: relative;
    overflow: hidden;
}
.projectItem:hover .projectimg{
    background-position: bottom;
}
.imglayer{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0,0.7);
    transition: all 0.6s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
}
.imglayer *{
    color: white;
}
.projectItem:hover .imglayer{
    bottom: 0;
}
.imglayer i{
    margin: 0 5px;
}
.imglayer a{
    text-decoration: none;
}

a{
    cursor: url(../Images/icons8-hand-cursor-bubbles-32.png) 10 10 ,auto;
}
#Projects h2{
    color: #ffff76;
}
/* -----------------------------end projects */

/* ---------------------------start contact */
#contact *{
    color: white;
}
#contact span {
    color: #ffff76;
}
#contact a{
    text-decoration: none;

}
#contact a i {
    color: #ffff76;
    margin: 0 20px 0 0;
}
.navbar-brand:hover{
    color: white;
}
.navbar-brand:focus{
    color: white;
}
input{
    border-radius: unset !important;
    border: 1px solid #ffff76 ;
    outline: none;
}
input:focus{
    border: 1px solid #ffff76 !important;
    outline: none !important;
    box-shadow: none !important;
}
textarea{
    width: 100%;
    height: 100px !important;
    resize: none;
}
textarea:focus{
    border: 1px solid #ffff76 !important;
    outline: none !important;
    box-shadow: none !important;
}
input , textarea{
    color: black !important;
}
form button{
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #ffff76;
    color: black !important;
    padding: 8px 30px;
}
/* -------------------------------------- */

::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffff76;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ffff76b4;
  }
  #Skills{
    min-height: fit-content !important;

  }